@font-face {
    font-family: 'Shrikhand';
    src: url('../police/shrikhand/Shrikhand-Regular.otf');
}

header {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    & h1 {
        font-size: 40px;
    }
}

h2 {
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}

#localisation {
    height: 50px;
    background-color: rgb(221, 220, 220);
    box-shadow: 0px -2px 5px #eaeaea;

    display: flex;
    justify-content: center;
    align-items: center;

    & span {
        padding-left: 20px;
    }
}

#reservation {
    background-color: #f6f6f6;
    height: 290px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    & span{
        font-size: 20px;
        text-align: center;
    }

    & button{
        width: 220px;
        height: 50px;
        border-radius: 2rem;
        font-size: 15px;
        color: white;
        background: linear-gradient(to bottom right, #FF79DA, #9356DC,);
    }
}

#fonctionnement {
    height: 440px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
    & ol {
        height: 280px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        & li {
            height: 75px;
            width: 325px;
            background-color: #f6f6f6;
            display: flex;
        }
    }

}