@font-face {
    font-family: 'Shrikhand';
    src: url(./police/shrikhand/Shrikhand-Regular.otf);
}

@font-face {
    font-family: 'Roboto';
    src: url(./police/roboto/Roboto-Regular.ttf)
}

* {
    font-family: 'Roboto';
}

@import "./reset.scss";

@import "./style_accueil.scss";

@import "./style_menu.scss";

