header {
    & .fas.fa-arrow-left {
        position: absolute;
        top: 20px;
        left: 20px;
        color: black;
    }
}

#top_img_wrap {
    height: 245px;
    & img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.contain_price {
    position: relative;
    width: 150px;
}

#card{
    height: 1180px;
    background-color: #f6f6f6;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;

    & #title_card {
        display: flex;
        justify-content: space-around;

        & h2 {
            font-family: 'Shrikhand';
        }
    }
    & ul {
        height: 270px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        & h4 {
            width: 350px;
        }

        & .under_line {
            margin-top: 5px;
            width: 40px;
            height: 3px;
            background-color: #99E2D0;
        }

        
        & li {
            height: 70px;
            width: 350px;
            background-color: white;
            box-shadow: 0 0 16px #0000002e;
            border-radius: 1.25rem;
            display: flex;
            justify-content: space-between;

            & h5 {
                font-weight: bold;
            }

            & .desc {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding-left: 15px;
                padding-top: 15px;
                padding-bottom: 10px;

                & span {
                    font-size: 15px;
                }

            }

            & .price {
                font-size: 16px;
                font-weight: bold;
                display: flex;
                flex-direction: column-reverse;
                padding-bottom: 10px;
                padding-right: 25px;
                position: absolute;
                top: 45px;
                left: 130px;
            }

            & .confirmation {
                visibility: hidden;
                width: 0px;
                transition-property: width;
                transition-duration: 3000ms;
                
            }
        }

        & li:hover {
            & .confirmation {
                visibility: visible;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 70px;
                height: auto;
                background-color: #99e2d0;
                border-bottom-right-radius: 1.25rem;
                border-top-right-radius: 1.25rem;
                margin-right: -1px;

                & .fa-check-circle {
                    color: white;
                }
            }

            & .price {
                padding-right: 0px;
            }
        }

    }

    & #btn_contain {
        display: flex;
        justify-content: center;

        & button {
        width: 185px;
        height: 50px;
        border-radius: 2rem;
        font-size: 15px;
        color: white;
        background: linear-gradient(to bottom right, #FF79DA, #9356DC,);
        border: none;
        box-shadow: 0 0 16px #0000002e;
        }
    }
    
    
}
